<footer class="footer" style="margin-right:42px; margin-left:42px;">
	<hr>
	<p>&#169; Hackstar Academy 2012</p>
	<p class="pull-right"><a href="#"></a></p>
		<%#= debug(params) if Rails.env.development? %> 	
</footer>
