<footer class="footer" style="margin-right:42px; margin-left:42px;">
	<hr>
	
	<p class="pull-right">&#169; Hackstar Academy 2012<a href="#"></a></p>
		<%#= debug(params) if Rails.env.development? %> 	
</footer>
