<center>
	<div style="margin-bottom:20px; margin-top:-18px">	
	<h1><span style="font-size:40px;">Hackstar Academy</span></h1>
	</div>

</center>

<div class="span2">
<p></p>
</div>
<div class="span7">
<h2>The Hackstar Academy Fellowship</h1>
<p>The Hackstar Academy Fellowship is a 10 week training program designed to help women become awesome programmers. We teach the fundamentals of modern web development, then introduce you to Silicon Valley companies looking to expand their engineering teams.</p>

<h2>What’s it like?</h2>
<p>The Hackstar Fellowship is a life changing experience. The first half of the program includes an accelerated in depth teaching of the Python language, then covers the elements of a modern web application stack with guided projects. For the remainder of the program, students work on projects they’re passionate about. Meanwhile, we’ll bring in guests from great companies and have talks and breakout sessions exposing students to as many sub-disciplines as we can manage.</p>

<p>We believe in pair programming as a powerful teaching tool. Having another person sitting next to you watching you code can be harrowing, but nothing keeps you focused like a second set of eyes. Pair programming encourages knowledge sharing, rapid brainstorming, and keeps you from checking Facebook too much. Students will pair as much as possible during the program.</p>

<p>Most of the learning will be self-guided. We won’t lecture too much. Most people are bored to tears during lectures anyway. Instead, we’ll provide the curriculum and environment to produce optimal learning. This means maximizing hands-on time in front of computers and providing smart people who can answer your questions.</p>

<h2>Who is this for?</h2>
<p>Our ideal candidate has some technical experience but wants an immersive environment to become a web developer. Maybe you took a CS class once in high school or made a mod for your favorite game. Maybe you gave a few programming tutorials a try but you’re eager for a little more structure. We’ve had very good success teaching absolute beginners. What you know is much less important than what you can learn.</p>

<p>If you’re a little more advanced, you’re welcome too! You may not need to sit through the early material, but if you want a place to work on a personal project, surrounded by smart people who can keep you motivated, you’ll find that here.</p>

<h2>Why Women Only?</h2>
<p>In short, we hate the <a href="http://dev.null.org/blog/item/200305222135_dave2girl" target="_blank">Dave-to-Girl Ratio</a> in software development. We want to do our part to equalize this imbalance, and we felt that a program exclusively for women was a good place to start.</p>

<h2>Why Python and Web Development?</h2>
<p>Python is an important part of the tech ecosystem. It’s an excellent teaching language, indeed, it’s the language of choice for both MIT’s and Berkeley’s undergraduate curriculums. More importantly, it’s a commercially used language used by <a href="http://www.google.com" target="_blank">giants</a> and <a href="http://www.instagr.am" target="_blank">startups</a> alike. We like it a lot, and we think you’ll like it too.</p>

<p>Software Development is changing. Within the last ten years, the web gone from being a second-class citizen to the primary way software is distributed to people. Aside from toys, there is almost no marketplace for software without a network component anymore, and modern web development was critical to that change. Even if you go on to build mobile applications, you’ll need to interface with a web component.</p>

<p>Web development is a bit of a misnomer, too. We teach you how to architect and build multi-user network applications. Then, we show you how to make it pretty in a web browser.</p>

<h2>And after? Jobs and Internships</h2>
<p>If you want a foot in the doorway to an engineering career, we’d like to help with that too. While we can’t guarantee anything, we’re partnering with companies that we’re excited about and are excited about us and we’ll introduce you to each other.</p>

<h2>Cost</h2>
<p>The cost to attend is $5000 with a lot of caveats. If you get a job with one of our partners, we’ll refund the entirety of your tuition in favor of a placement fee. We’re also offering a scholarship to cover the cost of tuition for one student. (If your organization wants to sponsor more students, please contact us.) Lastly, we believe in the quality of our program, so if you’re disappointed with the program in some way, we will give you your money back.</p>

<h2>Who are we?</h2>
<p>Just a couple of nerds who are passionate about teaching the world how to code.</p>
<ul class="thumbnails">
        
				<li class="span3">
          <div class="thumbnail">
					<%= image_tag("christian.png")  %>
            <div class="caption">
              <h3>Christian Fernandez</h3>
              <p>Christian grew up on the tropical island of American Samoa, learning to hunt eels in the coral reefs. He applied those skills later to write assembly code to blit bitmaps in mode 13h (doing graphics with assembly is a lot like eel-wrangling). These days, he's hung up his eel gloves in favor of building network applications and teaching programming. He's been a senior software developer at <a href="http://www.telecomsys.com/" target="_blank">Kivera</a> (acquired by TCS), <a href="http://www.ask.com" target="_blank">Ask</a>, and <a href="https://fuzebox.com/" target="_blank">Fuzebox</a>. He's also a founding member and resident python instructor at <a href="http://acemonstertoys.org/" target="_blank">Ace Monster Toys</a>, an educational hackerspace in Oakland, and was an instructor for the inaugural class of <a href="http://www.devbootcamp.com" target="_blank">DevBootcamp</a>.  Christian wrote his first program at the age of 12 and holds a B.S. in Computer Science and Electrical Engineering from the University of California, Berkeley.</p>  
            </div>
          </div>
        </li>
				  <li class="span3">
	          <div class="thumbnail">
							<%= image_tag("david.png")  %>
	            <div class="caption">
	              <h3>David J. Phillips</h3>
	              <p>David loves the ocean.  David wrote his first program in Java when he was 16.  He also has has a deep love for html, css, and good design.  Since starting his career at <a href="http://www.deloitte.com" target="_blank">Deloitte</a>, he has been lucky enough to start companies (<a href="http://www.ban.jo" target="_blank">Banjo</a>) and build products (<a href="http://www.getcustard.com" target="_blank">Custard</a>, <a href="http://www.bibbil.com" target="_blank">Bibbil</a>) that reach over a million users across the world.  After catching the startup bug, David started to learn how to build web applications using modern technologies like Ruby at <a href="http://www.devbootcamp.com" target="_blank">DevBootcamp</a>, and Python. He holds a B.A. in Business Economics from the University of California, Santa Barbara.</p>  
	            </div>
	          </div>
	        </li>
      </ul>

</div>
