<center>
	<div style="margin-bottom:20px; margin-top:-18px">	
	<h1><span style="font-size:44px;">Hackstar Academy</span></h1>
	</div>

</center>

<div class="span2">
<p></p>
</div>
<div class="span7">
	<div >
		<h2>Dates</h2>
		<p>Our 10-week training program runs from 10:00am to 6:00pm, Monday through Friday. We are located at 2017 Mission St. in San Francisco, CA.</p>
		
		<h3>Summer 2012<small> (FULL, thanks everyone!)</small></h3>
		<table class="dates">
		    <tbody>
		    <tr>
		      <td>May</td><td>30:</td><td>Application Deadline</td>
		    </tr>
		    <tr>
		      <td>June</td><td>18:</td><td>Class begins</td>
		    </tr>
		    <tr>
		      <td>August</td><td>24:</td><td>Class ends</td>
		    </tr>
		  </tbody></table>
			<br />
			<h3>Fall 2012<small> (Now Accepting Applications) </small></h3>
			<table class="dates">
			    <tbody>
			    <tr>
			      <td>July</td><td>15:</td><td>Early Application Deadline</td>
			    </tr>
			    <tr>
			      <td>July</td><td>30:</td><td>Early Admissions Decision</td>
			    </tr>
			    <tr>
				    <td>August</td><td>15:</td><td>General Application Deadline</td>
				  </tr>
				  <tr>
				    <td>August</td><td>30:</td><td>General Admissions Decision</td>
				  </tr>
					<tr>
			      <td>October</td><td>1:</td><td>Class begins</td>
			    </tr>
					<tr>
			      <td>December</td><td>7:</td><td>Class ends</td>
			    </tr>
				  </tbody></table>
			<br />
			<h3>Spring 2013<small></small></h3>
			<table class="dates">
			    <tbody>
			    <tr>
			      <td>October</td><td>1:</td><td>Early Application Deadline</td>
			    </tr>
			    <tr>
			      <td>October</td><td>20:</td><td>Early Admissions Decision</td>
			    </tr>
			    <tr>
			      <td>November</td><td>15:</td><td>General Application Deadline</td>
			    </tr>
			    <tr>
			      <td>December</td><td>31:</td><td>General Admissions Decision</td>
			    </tr>			
			    <tr>
			      <td>February</td><td>4:</td><td>Class begins</td>
			    </tr>
					<tr>
			      <td>April</td><td>12:</td><td>Class ends</td>
			    </tr>
			  </tbody></table>
</div>
</div>	
