<center>
	<div style="margin-bottom:20px; margin-top:-18px">	
	<h1><span style="font-size:44px;">Hackstar Academy</span></h1>
	</div>

</center>

<div class="span2">
<p></p>
</div>
<div class="span7">
<h2>Our Summer Programming Fellowship</h1>
<p>It's a 10 week training program designed to help women become awesome programmers. We teach the fundamentals of modern web development, then introduce you to Silicon Valley companies looking to expand their engineering teams.</p>

<h2>What will you learn?</h2>
<p>Here is what you will learn. Some words you may not understand when you start, but will when you finish:</p>
		<li>Python and its associated web frameworks</li>
		<li>Pair programming</li>
		<li>Git and source control</li>
		<li>Interview skills</li>
	  <li>SQL and ORMs, and NoSQL</li>
	  <li>HTML, CSS, JS, Ajax, and WebSockets</li>
	  <li>Deploying into EC2 and GAE</li>
	  <li>Terminal shells, grep, netcat, and other *nix command-line fu</li>
	  <li>Message queues, batch processing, distributed processing</li>
	  <li>Why some nerds really love lisp, vim, and emacs</li>
	</p>
	
<h2>When and Where?</h2>
<p>The program is full-time, Monday through Friday, from 10AM to 6PM, in our San Francisco office: 2017 Mission St. We supply the computers, you supply the enthusiasm.</p>
<h2>What’s it like?</h2>
<p>The Hackstar Fellowship is a life changing experience. We create an optimal learning environment with everything you need. The first half of the program includes an accelerated in depth teaching of the Python language, then covers the elements of a modern web application stack with guided projects. For the remainder of the program, students work on projects they’re passionate about. Meanwhile, we’ll bring in guests from great companies and have talks and breakout sessions exposing students to as many sub-disciplines as we can manage.</p>

<p>We believe in pair programming as a powerful teaching tool. Having another person sitting next to you watching you code can be harrowing, but nothing keeps you focused like a second set of eyes. Pair programming encourages knowledge sharing, rapid brainstorming, and keeps you from checking Facebook too much. Students will pair as much as possible during the program.</p>

<p>We won’t lecture too much. We believe fully immersed engagement is the best way to learn. We provide the curriculum and environment to produce optimal learning. This means maximizing hands-on time in front of computers and providing smart people who can answer all of your questions.</p>

<h2>Who is this for?</h2>
<p>Our ideal candidate has a strong, inspired desire to learn software development. You may have some technical experience but want an immersive environment to become a good developer. Maybe you gave a few programming tutorials a try but you’re eager for a little more structure. Maybe you even took a CS class once in high school or made a mod for your favorite game. We’ve had very good success teaching absolute beginners. What you know is much less important than what you can learn.</p>

<p>If you’re a little more advanced, you’re welcome too! You may not need to sit through the early material, but if you want a place to work on a personal project, surrounded by smart people who can keep you motivated, you’ll find that here.</p>

<h2>Why Women Only?</h2>
<p>In short, we hate the <a href="http://dev.null.org/blog/item/200305222135_dave2girl" target="_blank">Dave-to-Girl Ratio</a> in software development. We want to do our part to equalize this imbalance, and we felt that a program exclusively for women was a good place to start. For the record, there will only be 1 Dave in the classroom.</p>

<h2>Why Python and Web Development?</h2>
<p>Python is an important part of the tech ecosystem. It’s an excellent teaching language, indeed, it’s the language of choice for both MIT’s and Berkeley’s undergraduate curriculums. More importantly, it’s a commercially used language used by <a href="http://www.google.com" target="_blank">giants</a> and <a href="http://www.instagr.am" target="_blank">startups</a> alike. We like it a lot, and we think you’ll like it too.</p>

<p>Software Development is changing. Within the last ten years, the web has gone from being a second-class citizen to the primary way software is distributed to people. Aside from toys, there is almost no marketplace for software without a network component anymore, and modern web development was critical to that change. Even if you go on to build mobile applications, you’ll need to interface with a web component.</p>

<p>Web development is a bit of a misnomer, too. We teach you how to architect and build multi-user network applications. Then, we show you how to make it pretty in a web browser.</p>

<h2>And after?</h2>
<p>Our goal is to help you get the job you really want. We will provide training on both the technical skills and soft skills you need to make your way into the industry.  While we don't guarantee job placement, we have strategic relationships with companies that we’re excited about and are excited about us and who will be actively recruiting from our program.</p>

<h2>Cost</h2>
<p>Tuition is $6,000 and there are a couple ways of doing the program for free.  We have strategic relationships with companies in the industry. If you receive and accept a full-time job offer from one of the companies in our network then we will refund your tuition in favor of a placement fee. We’re also offering a scholarship to cover the cost of tuition for one student. (If you are an organization who wants to sponsor more students, please <a href="mailto:d@hackstaracademy.com" target="_blank">contact us</a>.) If the program doesn't meet your expectations in the first 2 weeks, we'll give you your money back (less your deposit).</p>



</div>
