<center>
	<div style="margin-bottom:20px; margin-top:-18px;">	
	<h1><span style="font-size:40px;">Hackstar Academy</span></h1>
	</div>
	</center>

	<center><p><h2>The Summer Fellowship for Women</h2></p>
	<p>Train with the best to become a software engineer.</p>
	<ul>
	   <li><i class="icon-ok"></i>10 Weeks of intense, hands-on training</li>
	   <li><i class="icon-ok"></i>Small class of all women in San Francisco, CA</li>  
		 <li><i class="icon-ok"></i>Job and Internship opportunities post-fellowship</li>	
	</ul>
	<a class="btn btn-success" style="font-size:28px;padding:15px;margin-bottom:20px" href="https://docs.google.com/spreadsheet/viewform?formkey=dFNKNnItN3l6cEN0SmFKZVdUZEdKX2c6MQ#gid=0" target="_blank">Apply Today</a>
</center>
	<div class="row" style="margin-bottom:-20px;">
		<div class="span4">
			<img src="../assets/code.png" width="373" height="74" alt="Mission" >
		</div>
		<div class="span4">
			<img src="../assets/content.png" width="373" height="74" alt="Python" >
		</div>
		<div class="span4">
			<img src="../assets/Women-who-code.png" width="373" height="74" alt="Summer Fellowship" style="margin-bottom:3px;">
		</div>
	</div>
<hr>
<!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Our Mission</h2>
           <p></p>
					 <p>Our mission is to teach people web development in order to help them pursue their passions.</p>
          <p></p>
        </div>
				<div class="span4">
          <h2>Python</h2>
           <p></p>
					 <p>Our language of choice for the program will be Python.  Our goal is to teach you software development skills needed to pick up any new language at your leisure. </p>
        </div>
        <div class="span4">
          <h2>The Fellowship</h2>
          <p></p>
					<p>10-week intensive program to train you to become a software engineer.  Located in the heart of San Francisco.</p>
       </div>
        
      </div>
