<body class="home">
<div style="margin-bottom:35px; margin-top:-18px; text-align:center">	
	<h1><span style="font-size:44px;">Hackstar Academy</span></h1>
</div>

<div id="content-home">
	<h1>The Summer Fellowship for Women</h1>
	<p></p>
	<ul>
		<li>
			<i class="icon-ok"></i>
			<span class="content-home-check">10 Weeks of hands-on training</span>
		</li>
		<li>
			<i class="icon-ok"></i>
			<span class="content-home-check">Small class in San Francisco, CA</span>
		</li>  
		<li>
			<i class="icon-ok"></i>
			<span class="content-home-check">Job and Internship Opportunities</span>
		</li>	
	</ul>
	<a class="btn btn-success btn-home" href="http://bit.ly/Ic4s8Y" target="_blank">Apply Today</a>
</div>     

<div class="row">
  <div class="span4">
		<img id="column-1" src="../assets/content.png" width="373" height="74" alt="Mission" >
    <h2>Python</h2>
	 	<p>We believe Python is a great language for learning.  Our goal is to teach you the engineering skills that are language agnostic.</p>
  </div>
	<div class="span4" style="margin-top:18px;">
		<h2>Our Mission</h2>
		<p>Our mission is to teach people web development in order to help them pursue their passions.</p>
  </div>
  <div class="span4">
		<img id="column-3" src="../assets/Women-who-code.png" width="373" height="74" alt="Summer Fellowship">
    <h2>The Fellowship</h2>
		<p>10-week intensive program to train you to become a software developer.  Located in the heart of San Francisco.</p>
  </div>
</div>
</body>
