<center>
	<div style="margin-bottom:20px; margin-top:-18px">	
	<h1><span style="font-size:44px;">Hackstar Academy</span></h1>
	</div>

</center>
<div class="span2">
<p></p>
</div>
<div class="span7">
<h1>Testimonials</h1>
<p>Check out what people are saying about your lead instructor.</p>
<ul class="thumbnails">
        <li class="span7">
          <div class="thumbnail">
            <%= image_tag "shail.png", :style => "float:left; margin:15px;"  %>
            <div class="caption">
              <h4>Shail Patel</h4>
							<br />
              <p>Hands down, Christian is the best teacher I've ever had. Learning how to program can be extremely frustrating, knowing when you should continue to struggle through a problem or ask for help is difficult for a beginner to discern. Without fail, Christian always knows when to push me to work through something independently and when to provide me with guidance. This taught me how to figure things out on my own, and know when a problem was too difficult, an essential skill to be a good programmer.<br /><br /> He always pushes my boundaries by asking me difficult questions, and never blindly accepting anything without fully understanding it. I could go to him with any problem, and I know that he would arrive at a thoughtful solution. Even with complex problems, Christian has an uncanny ability to break the solution down and explain it in detail. He provides a variety of comprehensive solutions, explaining the pros and cons of each. I still haven't been able to ask Christian a question he hasn't been able to solve. I hope one day I can become a developer and teacher like Christian.</p>
            </div>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <%= image_tag "craig.png", :style => "float:left; margin:15px;"  %>
            <div class="caption">
              <h4>Craig Little</h4>
							<br />
              <p>Christian is a natural-born teacher. His ability to explain complex concepts in simple terms is invaluable, and his passion for web development and computer science is infectious. I highly recommend any program with which he is involved.</p>
            </div>
          </div>
        </li>
				<li class="span3">
          <div class="thumbnail">
            <%= image_tag "kush.png", :style => "float:left; margin:15px;"  %>
            <div class="caption">
              <h4>Kush Patel</h4>
							<br />
              <p>Christian is one of the best teachers I have ever had. His knowledge of software engineering seems infinite; I have not yet found any topic that he does not understand deeply. A developer of his calibre is a rare catch, but finding one with his teaching abilities seemed to me impossible before I met Christian.</p>
            </div>
          </div>
        </li>
				<li class="span3">
          <div class="thumbnail">
            <%= image_tag "doug.png", :style => "float:left; margin:15px;"  %>
            <div class="caption">
              <h4>Douglas Calhoun</h4>
							<br />
              <p>Christian was an excellent mentor. He is incredibly knowledgeable
							about many aspects of programming, but more importantly is a patient
							and capable teacher, explaining complex topics in accessible and
							engaging ways. I would recommend Christian to anyone, beginner to
							expert, looking for a more nuanced and thorough understanding of the
							art of coding.</p>
            </div>
          </div>
        </li>
       




			</div>
			</ul>